/* --Lato-- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --Cinzel-- */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* --Playfair-- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* --Pacifico-- */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: business;
}


.lato {
  font-family: 'Lato', sans-serif;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.playfair {
  font-family: 'Playfair Display SC', serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}



html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
